<h1>Confirmez votre mail!</h1>

<p>
    Merci de confirmer votre adresse mail pour bénéficier de toutes les fonctionnalitées de votre compte en cliquant sur: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.<br>
    Le lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>


