<div class="col-md-4">
    <!-- CATEGORIES -->
    <div class="card my-4">
        <h5 class="card-header">Catégories</h5>
        <div class="card-body">
            <p class="card-text"> lister Catégories, si on clique dessus on est dirigé vers une page avec tout les articles de cette Catégories (à faire)</p>
        </div>
    </div>

    <!-- A PROPOS -->
    <div class="card my-4">
        <h5 class="card-header">A propos de nous</h5>
        <div class="card-body">
            <p class="card-text"> Sur ce blog vous trouverez tout ce qu'il vous faut pour vous améliorez physiquement. Grâce à de nombreux articles de qualité.....etc</p>
        </div>
    </div>
</div>